---
import Layout from "../componentes/layout.astro"
---

<Layout titlePage="Inicio - Rey del Asado">

<!--     icono de calidad -->
    <div class="flex justify-center m-8">
        <img src="../../public/images/icono-calidad.png" class="w-24 h-24" alt="">
    </div>
    <!-- fin icono calidad -->

    <!-- iconos y caracteristicas -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 mb-16">
        <div class="grid grid-rows-2 gap-2 m-5 lg:ml-5">
            <div class="flex justify-center"><img src="../../public/images/icono-comidacaliente.png" class="h-20 w-20" alt=""></div>
            <div><p class="">✓ Comida fresca y de máxima calidad hecha en el momento. Cocinada a la temperatura y con la cocción indicada</p></div>
        </div>
        <div class="grid grid-rows-2 gap-2 m-5 lg:m-1">
            <div class="flex justify-center"><img src="../../public/images/icono-vino.png" class="h-20 w-20" alt=""></div>
            <div><p>✓ Gran variedad de vinos. Desde lo más economico hasta la mas alta calidad para todos los paladares. Tambien contamos con gran variedad de tragos en las distintas barras de nuestro hogar</p></div>
        </div>
        <div class="grid grid-rows-2 gap-2 m-5 lg:m-1">
            <div class="flex justify-center"><img src="../../public/images/icono-llamadacomida.png" class="h-20 w-20" alt=""></div>
            <div><p>Queres comer nuestra exquisita comida desde la comodidad de tu hogar? ✓ Podes hacerlo con nuestro servicio a domicilio donde nos aseguramos que tu comida llegue bien caliente</p></div>
        </div>
        <div class="grid grid-rows-2 gap-2 m-5 lg:mr-5">
            <div class="flex justify-center"><img src="../../public/images/icono-takeandaway.png" class="h-20 w-20" alt=""></div>
            <div><p>✓ Disfruta de nuestro servicio TAKE AND AWAY. Tan sencillo como ordenarnos lo que se le apetece y pasarlo a buscar a partir de la hora que se le indica (no tardamos mas de 30 minutos ;D )</p></div>
        </div>
    </div>
    <!-- fin iconos y caracteristicas -->

    <!-- imagen estatica -->
    <div class="">

    </div>


</Layout>