---
import Layout from "../componentes/layout.astro"
---

<Layout titlePage="Especialidades - Rey del Asado">

    <div class="my-20 m-8">
        <h1 class="font-menu text-6xl font-bold text-gray-800 underline">Menu</h1>
    </div>


    <div class="font-menu text-xl mb-24">

        <div class="flex justify-center items-center">
            <div class="w-3/4">
                <h2 class="font-bold text-2xl my-5">Carnes Asadas</h2>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Costilla</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$200</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Matambre</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$250</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Bife de chorizo</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$180</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Bife de cuadril</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$220</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Churrasco</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$250</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Cola de cuadril</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$170</div>
                </div>

                <!-- carnes asadas fin  -->



                <!-- guarniciones inicio -->
                <h2 class="font-bold text-2xl my-5">Guarniciones</h2>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Papas asadas o fritas</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$100</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Vegetales asados </div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$150</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Arroz sasonado</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$80</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Tortilla</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$125</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Batatas asadas</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$100</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">2 huevos fritos</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$50</div>
                </div>
                <!-- guarniciones fin -->



                <!-- minutas inicio -->
                <h2 class="font-bold text-2xl my-5">Minutas</h2>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Milanesa a la Napolitana c/guarnicion</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$300</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Sandwich de lomito</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$250</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Pizza a la Fugazzeta</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$280</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Choripán</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$200</div>
                </div>
                <!-- minutas fin -->



                <!-- ensaladas inicio -->
                <h2 class="font-bold text-2xl my-5">Ensaladas</h2>
                <div class="flex justify-around relative mt-3 mb-1">
                    <div class="text-start">Ensalada cesar</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$150</div>
                </div>
                <p class="flex justify-start text-start text-sm font-bold font-menu mb-3">(Lechuga romana, crutones, queso parmesano y aderezo César)</p>
                <div class="flex justify-around relative mt-3 mb-1">
                    <div class="text-start">Ensalada Griega</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$140</div>
                </div>
                <p class="text-start flex justify-start text-sm font-bold font-menu mb-3">(Tomate, pepino, aceitunas, queso feta, cebolla roja y aderezo de aceite de oliva)</p>
                <div class="flex justify-around relative mt-3 mb-1">
                    <div class="text-start">Ensalada Caprese</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$130</div>
                </div>
                <p class="text-start flex justify-start text-sm font-bold font-menu mb-3">(Tomate, mozzarella fresca, albahaca, aceite de oliva y vinagre balsámico)</p>
                <div class="flex justify-around relative mt-3 mb-1">
                    <div class="text-start">Ensalada Waldorf</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$120</div>
                </div>
                <p class="flex justify-start text-sm font-bold font-menu mb-3 text-start">(Manzanas, apio, nueces, uvas y mayonesa)</p>
                <div class="flex justify-around relative mt-3 mb-1">
                    <div class="text-start">Ensalada de Quinoa</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$140</div>
                </div>
                <p class="flex justify-start text-sm font-bold font-menu mb-3 text-start">(Quinoa, aguacate, tomate, pepino y aderezo ligero)</p>
                <div class="flex justify-around relative mt-3 mb-1">
                    <div class="text-start">Ensalada de Col (Coleslaw)</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$110</div>
                </div>
                <p class="flex justify-start text-sm font-bold font-menu mb-3 text-start">(Col rallada, zanahorias, mayonesa y vinagre)</p>
                <!-- fin ensaladas -->



                <!-- bebidas sin alcohol inicio -->
                <h2 class="font-bold text-2xl my-5">Bebidas sin alcohol</h2>
                <div class="flex justify-around relative my-3">
                    <div class="text-start">Agua potable</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$30</div>
                </div>
                <div class="flex justify-around relative my-3 text-start">
                    <div class="">Coca Cola</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$70</div>
                </div>
                <div class="flex justify-around relative my-3">
                    <div class="">7 up</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$60</div>
                </div>
                <div class="flex justify-around relative mt-3 mb-1">
                    <div class="text-start">Agua gasificada</div>
                    <div class="border-b border-dashed border-black h-6 w-1/2 flex-grow"></div>
                    <div>$110</div>
                </div>
                <p class="flex justify-start text-sm font-bold font-menu mb-3 text-start">(Naranja, Pomelo, Anana, Pera)</p>
                
                <!-- fin bebidas sin alcohol -->
            </div>
        </div>
        
    </div>






</Layout>