---
import Layout from "../componentes/layout.astro"
---

<Layout titlePage="Especialidades - Rey del Asado">

    <div class="mt-10 m-8">
        <h1 class="font-menu text-5xl text-gray-800">Menu</h1>
    </div>


    <div class="flex justify-center items-center">
        <div class="w-1/2">
            <div class="flex justify-around relative">
                <div class="">Asado</div>
                <div class="border-b border-dashed border-black h-5 w-1/2 flex-grow"></div>
                <div>$50</div>
            </div>
        </div>
    </div>






</Layout>