---
import Layout from "../componentes/layout.astro";
---

<Layout titlePage="Servicios - Rey Del Asado">
    <div class="my-20 m-8">
        <h1 class="text-6xl font-bold text-gray-800 underline">Servicios</h1>
    </div>


    <div class="flex justify-center border">
        <div class="container items-start">
          <h3 class="text-4xl">Queres reunirte con amigos?</h3>
          <img src="https://www.shutterstock.com/image-photo/cheerful-man-eating-burger-having-600nw-2281411823.jpg" alt="amigos reunidos" class="float-left rounded-md shadow-md ml-4 mb-4">
          <p class="overflow-hidden text-3xl">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde rerum quisquam dolore. Cum voluptatum numquam non itaque, repudiandae beatae earum laudantium vero iusto, autem perspiciatis delectus facere iste quisquam impedit assumenda quas tempore quis illum, enim sunt modi est. Culpa distinctio dolorem, similique hic error veritatis porro totam ratione non magnam suscipit? Aperiam nisi enim quibusdam temporibus iusto reiciendis commodi blanditiis totam incidunt iste aliquid, perspiciatis voluptate quae possimus vel dolorum maxime natus. Enim, distinctio accusamus. Necessitatibus debitis culpa eos repellendus ex voluptas velit sequi pariatur suscipit obcaecati hic doloribus incidunt blanditiis voluptates nihil ratione omnis vero atque, veniam ipsa.
          </p>
        </div>
      </div>

</Layout>





<style>
.float-left {
      float: left;
      margin-right: 1rem;
}
  </style>