---
import Layout from "../../componentes/layout.astro";
---

<Layout titlePage="Eventos - Rey del Asado">

    <h1 class="text-6xl font-bold font-menu text-gray-800 underline mb-20 my-16 m-8 px-6">Eventos</h1>

    <div class="my-12 flex justify-center">
        <img src="https://regalosgourmetonline.com/blog/wp-content/uploads/2021/09/Sin-ti%CC%81tulo-2-676x423.png" class="h-72" alt="personas reunidas">
        <div class="flex items-center justify-center w-1/3">
            <p class="font-menu font-bold text-xl p-6">"Desde que elegí este lugar, mis eventos se han vuelto verdaderamente únicos. La magia del ambiente y la calidad de servicio hacen la diferencia cada vez"</p>
        </div>
    </div>

    

</Layout>